:root {
    --mainColor: #000;
    --bgColor: #fff;
    --dialogBgColor: #fff;
    --dialogColor: #2c3e50;
    --reTheme: 30px;
}

[data-theme="dark"] {
    --mainColor: #fff;
    --bgColor: #000;
    --dialogBgColor: #232323;
    --dialogColor: #fff;
}

* {
    font-family: JetBrains Mono !important;
}